synchws/wssvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.bedework.org/synch/wsmessages" 
                  xmlns:s="http://www.w3.org/2001/XMLSchema" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  targetNamespace="http://www.bedework.org/synch/wsmessages" 
                  xmlns:cws="http://docs.oasis-open.org/ns/wscal/calws-soap"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema>
      <s:import schemaLocation="wsmessages.xsd" 
                namespace="http://www.bedework.org/synch/wsmessages" />
      <s:import schemaLocation="../calws-soap/wsmessages.xsd" 
                namespace="http://docs.oasis-open.org/ns/wscal/calws-soap" />
    </s:schema>
  </wsdl:types> 

  <!-- ====================== startServiceNotification ===================== -->  

  <wsdl:message name="StartServiceIn">
    <wsdl:part name="request" element="tns:startServiceNotification" />
  </wsdl:message>
  
  <wsdl:message name="StartServiceOut">
    <wsdl:part name="response" element="tns:startServiceResponse" />
  </wsdl:message>

  <!-- ====================== keepAliveNotification ===================== -->  

  <wsdl:message name="KeepAliveIn">
    <wsdl:part name="request" element="tns:keepAliveNotification" />
  </wsdl:message>
  
  <wsdl:message name="KeepAliveOut">
    <wsdl:part name="response" element="tns:keepAliveResponse" />
  </wsdl:message>

  <!-- =========================== subscribe =========================== -->  

  <wsdl:message name="SubscribeIn">
    <wsdl:part name="idToken" element="tns:synchIdToken" />
    <wsdl:part name="request" element="tns:subscribe" />
  </wsdl:message>
  
  <wsdl:message name="SubscribeOut">
    <wsdl:part name="response" element="tns:subscribeResponse" />
  </wsdl:message>

  <!-- =========================== getProperties =========================== -->  

  <wsdl:message name="GetPropertiesIn">
    <wsdl:part name="idToken" element="tns:synchIdToken" />
    <wsdl:part name="request" element="cws:getProperties" />
  </wsdl:message>
  
  <wsdl:message name="GetPropertiesOut">
    <wsdl:part name="response" element="cws:getPropertiesResponse" />
  </wsdl:message>

  <!-- =========================== calendarQuery =========================== -->

  <wsdl:message name="CalendarQueryIn">
    <wsdl:part name="idToken" element="tns:synchIdToken" />
    <wsdl:part name="request" element="cws:calendarQuery" />
  </wsdl:message>
  
  <wsdl:message name="CalendarQueryOut">
    <wsdl:part name="response" element="cws:calendarQueryResponse"/>
  </wsdl:message>

  <!-- ========================= calendarMultiget ========================== -->

  <wsdl:message name="CalendarMultigetIn">
    <wsdl:part name="idToken" element="tns:synchIdToken" />
    <wsdl:part name="request" element="cws:calendarMultiget" />
  </wsdl:message>
  
  <wsdl:message name="CalendarMultigetOut">
    <wsdl:part name="response" element="cws:calendarQueryResponse"/>
  </wsdl:message>

  <!-- ============================= addItem =============================== -->  

  <wsdl:message name="AddItemIn">
    <wsdl:part name="idToken" element="tns:synchIdToken" />
    <wsdl:part name="addItemRequest" element="cws:addItem" />
  </wsdl:message>
  
  <wsdl:message name="AddItemOut">
    <wsdl:part name="addItemResponse" element="cws:addItemResponse" />
  </wsdl:message>

  <!-- ============================= fetchItem =============================== -->  

  <wsdl:message name="FetchItemIn">
    <wsdl:part name="idToken" element="tns:synchIdToken" />
    <wsdl:part name="fetchItemRequest" element="cws:fetchItem" />
  </wsdl:message>
  
  <wsdl:message name="FetchItemOut">
    <wsdl:part name="fetchItemResponse" element="cws:fetchItemResponse" />
  </wsdl:message>

  <!-- ============================= UpdateItem =============================== -->  

  <wsdl:message name="UpdateItemIn">
    <wsdl:part name="idToken" element="tns:synchIdToken" />
    <wsdl:part name="request" element="cws:updateItem" />
  </wsdl:message>
  
  <wsdl:message name="UpdateItemOut">
    <wsdl:part name="response" element="cws:updateItemResponse" />
  </wsdl:message>

  <!-- ============================== port ================================= -->  
  
  <wsdl:portType name="SynchRemoteServicePortType">
    <wsdl:operation name="StartService">
      <wsdl:input message="tns:StartServiceIn" />
      <wsdl:output message="tns:StartServiceOut" />
    </wsdl:operation>
    
    <wsdl:operation name="PingService">
      <wsdl:input message="tns:KeepAliveIn" />
      <wsdl:output message="tns:KeepAliveOut" />
    </wsdl:operation>
    
    <wsdl:operation name="Subscribe">
      <wsdl:input message="tns:SubscribeIn" />
      <wsdl:output message="tns:SubscribeOut" />
    </wsdl:operation>
    
    <wsdl:operation name="GetProperties">
      <wsdl:input message="tns:GetPropertiesIn" />
      <wsdl:output message="tns:GetPropertiesOut" />
    </wsdl:operation>
    
    <wsdl:operation name="CalendarQuery">
      <wsdl:input message="tns:CalendarQueryIn" />
      <wsdl:output message="tns:CalendarQueryOut" />
    </wsdl:operation>
    
    <wsdl:operation name="CalendarMultiget">
      <wsdl:input message="tns:CalendarMultigetIn" />
      <wsdl:output message="tns:CalendarMultigetOut" />
    </wsdl:operation>
    
    <wsdl:operation name="AddItem">
      <wsdl:input message="tns:AddItemIn" />
      <wsdl:output message="tns:AddItemOut" />
    </wsdl:operation>
    
    <wsdl:operation name="FetchItem">
      <wsdl:input message="tns:FetchItemIn" />
      <wsdl:output message="tns:FetchItemOut" />
    </wsdl:operation>
    
    <wsdl:operation name="UpdateItem">
      <wsdl:input message="tns:UpdateItemIn" />
      <wsdl:output message="tns:UpdateItemOut" />
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- ============================ binding ================================ -->  
  
  <wsdl:binding name="SynchRemoteServiceBinding" 
                type="tns:SynchRemoteServicePortType">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0" 
                 xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    
    <wsdl:operation name="StartService">
      <soap:operation soapAction="http://www.bedework.org/synch/wsmessages/startService" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="PingService">
      <soap:operation soapAction="http://www.bedework.org/synch/wsmessages/pingService" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://www.bedework.org/synch/wsmessages/subscribe" />
      <wsdl:input>
        <soap:header message="tns:SubscribeIn" use="literal" part="idToken" />
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="GetProperties">
      <soap:operation soapAction="http://docs.oasis-open.org/ns/wscal/calws-soap/getProperties" />
      <wsdl:input>
        <soap:header message="tns:GetPropertiesIn" use="literal" part="idToken" />
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="CalendarQuery">
      <soap:operation soapAction="http://docs.oasis-open.org/ns/wscal/calws-soap/CalendarQuery" />
      <wsdl:input>
        <soap:header message="tns:CalendarQueryIn" use="literal" part="idToken" />
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="CalendarMultiget">
      <soap:operation soapAction="http://docs.oasis-open.org/ns/wscal/calws-soap/CalendarMultiget" />
      <wsdl:input>
        <soap:header message="tns:CalendarMultigetIn" use="literal" part="idToken" />
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://docs.oasis-open.org/ns/wscal/calws-soap/additem" />
      <wsdl:input>
        <soap:header message="tns:AddItemIn" use="literal" part="idToken" />
        <soap:body use="literal" parts="addItemRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="addItemResponse" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="FetchItem">
      <soap:operation soapAction="http://docs.oasis-open.org/ns/wscal/calws-soap/fetchitem" />
      <wsdl:input>
        <soap:header message="tns:FetchItemIn" use="literal" part="idToken" />
        <soap:body use="literal" parts="fetchItemRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="fetchItemResponse" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://docs.oasis-open.org/ns/wscal/calws-soap/updateitem" />
      <wsdl:input>
        <soap:header message="tns:UpdateItemIn" use="literal" part="idToken" />
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SynchRemoteService">
    <wsdl:port name="SynchRSPort" binding="tns:SynchRemoteServiceBinding">
       <soap:address location="@BEDEWORK-SYNCH-SERVICE-URL@"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>  